.button {
    background-color: var(--grey-4);
    width: 200px;
    height: 40px;
    color: var(--white);
    border: 0px;
    border-radius: 10px;
    padding: 0;
    box-sizing: border-box;
}

.button_primary {
    background-color: var(--primary);
}

.button_secondary {
    background-color: var(--secondary);
}

.button_alternate {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid;
}

.button:enabled:hover {
    cursor: pointer;
    filter: contrast(200%);
}

.button_alternate:enabled:hover {
    border: 2px solid;
}

.button:disabled {
    opacity: 0.63;
    cursor: default;
}