.toggle {
    display: inline-block;
}

.toggle__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}

.toggle__state {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.toggle__control {
    box-sizing: border-box;
    position: relative;
    width: 52px;
    height: 28px;
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 16px;
}

.toggle__control-lever {
    position: absolute;
    width: 24px;
    height: 24px;
    transform: translate(1px, 1px);
    background: var(--grey-2);
    border-radius: 16px;
}

.toggle__label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.toggle__input:checked~.toggle__state .toggle__control {
    background-color: var(--checked);
    border-width: 2px;
    border: 1px solid var(--checked);
}

.toggle__input:checked~.toggle__state .toggle__control .toggle__control-lever {
    transform: translate(25px, 1px);
    background-color: var(--white);
}

.toggle__input:focus~.toggle__state .toggle__label {
    text-decoration: underline;
}

.toggle__input:disabled~.toggle__state .toggle__control {
    background-color: var(--grey-2);
    border: 1px solid var(--grey-2);
}

.toggle__input:disabled~.toggle__state .toggle__control .toggle__control-lever {
    background-color: var(--grey-3);
}