.calendar {
    width: 304px;
    background: var(--white);
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    padding: 28px 36px;
}

.calendar__title {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #334D6E;
    margin-bottom: 20px;
}

.calendar__wrapper {
    position: relative;
    padding-bottom: 100%;
}

.calendar__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.calendar__item {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #334D6E;
}

.calendar__item_day {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #90A0B7;
}

.calendar__item_range_start,
.calendar__item_range_end {
    color: var(--white);
    background: var(--primary);
}

.calendar__item_range_space {
    background: rgba(160, 177, 245, 0.2);
}