.skeleton {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 16px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding-top: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 40px;
}

.skeleton__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--grey-2);
}

.skeleton__info {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    flex-grow: 1;
    align-self: center;
}

.skeleton__description {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    row-gap: 8px;
}

.skeleton__line {
    height: 20px;
    width: 100%;
    background-color: var(--grey-2);
}

.skeleton__line_size_s {
    width: 40%;
}
.skeleton__line_size_m {
    width: 60%;
}